{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transcendence</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/variables.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="icon" href="../static/images/favicon.png" type="image/x-icon" />
  </head>
  <body>
    <div id="header-container"></div>
    <div class="align-items-center mt-5" id="content-container"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="{% static 'js/spa/route.js' %}"></script>
    <script type="module" src="{% static 'js/index.js' %}"></script>
    <script type="module" src="{% static 'js/header/header.js' %}"></script>
    <script type="module" src="{% static 'js/login/login.js' %}"></script>
    <script type="module" src="{% static 'js/login/login_form.js' %}"></script>
    <script type="module"src="{% static 'js/login/registration_form.js' %}"></script>

    <script>
      window.loggedInUserId = "{{ user.id|escapejs }}";
      window.loggedInUserName = "{{ user.username|escapejs }}";
      window.loggedInAvatarUrl =
        "{{ user.avatar_url|default:'https://upload.wikimedia.org/wikipedia/commons/3/3f/Placeholder_view_vector.svg'|escapejs }}";
    </script>
  </body>
</html>
